<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- Spinner -->
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-atom" 
        [fullScreen] = "true">
        <p style="color: white" > Cargando... </p>
    </ngx-spinner>

    <!-- header -->
    <div class="mb-auto">
        <app-header></app-header>
    </div>

    <!-- main -->
    <main class="form-signin">

      <!-- Form -->
      <div class="row">
        <div class="col">
          <form [formGroup]="loginForm" (ngSubmit)="clickIngresar()">
            
            <h1 class="h3 mb-3 fw-normal text-center">Bienvenid@</h1>
        
      
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="loginData.email" formControlName="emailCtrl">
              <label for="floatingInput" class="text-dark">Email</label>
              <div class="errors">
                <small class="invalid" *ngIf="getEmailCtrl()?.errors?.required && getEmailCtrl()?.touched">Campo obligatorio</small>
                <small class="invalid" *ngIf="getEmailCtrl()?.errors?.email && getEmailCtrl()?.touched">Formato incorrecto</small>
              </div>
            </div>
            
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="loginData.pass" formControlName="passCtrl">
              <label for="floatingPassword" class="text-dark">Contraseña</label>
            </div>
            <div class="errors">
              <small class="invalid" *ngIf="getPassCtrl()?.errors?.required && getPassCtrl()?.touched">Campo obligatorio</small>
              <small class="invalid" *ngIf="getPassCtrl()?.errors?.minlength && getPassCtrl()?.touched">Mínimo 6 caracteres</small>
            </div>
        
            <div>
              <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
            </div>
            <br>    
      
            <div class="alert alert-danger small" role="alert"  *ngIf="hasAlert" >
              {{alertMessage}}
            </div>
                  
          </form>
        </div>
      </div>

      <!-- Accesos rápidos -->
      <div class="row">        
        <div class="col m-auto" *ngIf="userPaciente">
          <a [routerLink]="">
            <img class="img-avatar m-auto" [src]="userPaciente.perfil1Src" (click)="cargarUsuario(2)" height="80px">            
          </a>
          <p>{{userPaciente.rol | rol}}</p>
        </div>
        <div class="col m-auto" *ngIf="userEspecialista">
          <a [routerLink]="">
            <img class="img-avatar m-auto" [src]="userEspecialista.perfil1Src" (click)="cargarUsuario(3)" height="80px">            
          </a>
          <p>{{userEspecialista.rol | rol}}</p>
        </div>
        <div class="col m-auto" *ngIf="userAdmin">
          <a [routerLink]="">
            <img class="img-avatar m-auto" [src]="userAdmin.perfil1Src" (click)="cargarUsuario(1)" height="80px">            
          </a>
          <p>{{userAdmin.rol | rol}}</p>
        </div>
      </div>

    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>




