<header class="mb-auto">
    <div class="">
        <div class="float-md-start mb-0">
            <h3 class="">Clínica Pichicata</h3>
        </div>
        <div class="float-md-start p-auto" style="margin-left: 2rem; margin-top: .4rem;">
            <h6 class="mb-0 text-muted" [appEmail]="user"></h6>
        </div>
        
        <div [ngSwitch]="navbarType">

            <!-- Default -->
            <nav class="nav nav-masthead justify-content-center float-md-end" *ngSwitchCase="0">
                <a class="nav-link" aria-current="page" [routerLink]="['/home']" >Home</a>
                <a class="nav-link" [routerLink]="['/auth/login']">Ingresar</a>
                <a class="nav-link" [routerLink]="['/auth/register']">Registrarse</a> 
            </nav>

            <!-- Admin -->
            <nav class="nav nav-masthead justify-content-center float-md-end text-app" *ngSwitchCase="1">
                <!-- <a class="nav-link" aria-current="page" [routerLink]="['/admin/home']" >Home</a>
                <a class="nav-link" [routerLink]="['/admin/register']">Alta Admin</a>
                <a class="nav-link" [routerLink]="['/admin/materia']">Alta Materia</a> 
                <a class="nav-link" [routerLink]="['/admin/inscripcion']">Inscripción</a> 
                <a class="nav-link" [routerLink]="['/admin/materias']">Materias</a> 
                <a class="nav-link" [routerLink]="['/admin/usuarios']">Usuarios</a> 
                <a class="nav-link" [routerLink]="['/admin/usuarios/eliminados']">Usuarios Eliminados</a> 
                <a class="nav-link exit-icon" [routerLink]="" (click)="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right text-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>  -->
            </nav>

            <!-- Estudiante -->
            <nav class="nav nav-masthead justify-content-center float-md-end" *ngSwitchCase="2">
                <!-- <a class="nav-link" aria-current="page" [routerLink]="['/alumno/home']" >Home</a>
                <a class="nav-link" [routerLink]="['/alumno/inscripcion']">Inscripción</a>
                <a class="nav-link" [routerLink]="['/alumno/materias']">Mis Materias</a>
                <a class="nav-link exit-icon" [routerLink]="" (click)="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right text-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>  -->
            </nav>

            <!-- Docente -->
            <nav class="nav nav-masthead justify-content-center float-md-end" *ngSwitchCase="3">
                <!-- <a class="nav-link" aria-current="page" [routerLink]="['/profesor/home']" >Home</a>
                <a class="nav-link" [routerLink]="['/profesor/materias']">Mis Materias</a>
                <a class="nav-link" [routerLink]="['/profesor/examenes']">Exámenes</a>
                <a class="nav-link" [routerLink]="['/profesor/notas']">Notas</a>
                <a class="nav-link exit-icon" [routerLink]="" (click)="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right text-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>  -->
            </nav>
            
        </div>

    </div>
</header>