<div class="row m-2 p-1 rounded bg-secondary">
    <div class="col text-start">
        <span class="h5 text-hover-primary mb-0">{{item.model.materia.name}}</span> 
        <p class="text-hover-primary mb-0 ml-1 fw-light">{{item.model.fecha}}</p>
        <p class="text-hover-primary mb-0 ml-1 fw-light">{{item.model.docente.email}}</p>
    </div>
    <!-- <div class="col-3">
        <p class="text-hover-primary mb-1 fw-light">Cupo:</p>
        <span class="h2 text-hover-primary mb-0">{{item.model.cupo}}</span> 
    </div> -->
</div>