<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- Spinner -->
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-atom" 
        [fullScreen] = "true">
        <p style="color: white" > Cargando... </p>
    </ngx-spinner>

    <!-- header -->
    <div class="mb-auto">
        <app-header [user]="user"></app-header>
    </div>

    <!-- main -->
    <main class="px-3">
    <h1 class="mb-3">Alta Materia</h1>
        <div class="row vh-60">

            <!-- Mensaje -->
            <div class="row justify-content-center">
                <div class="col-8" *ngIf="mensaje">                
                    <app-alert [mensaje]="mensaje"></app-alert>
                </div>
            </div>

            <!-- formulario materia -->
            <!-- <div class="col-7">
                <form  [formGroup]="form" (ngSubmit)="createMateria()" class="form-materia text-start">
                    
                    <div class="mb-2">                  
                        <input type="file" class="form-control" (change)="fileChangeEvent($event)" aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="imgCtrl">                    
                        <div class="errors">
                            <small class="invalid" *ngIf="getImgCtrl()?.errors?.required && getImgCtrl()?.touched">Imagen requerida</small>                                
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="email" placeholder="Matemática 1" formControlName="nameCtrl">   
                        <label for="email" class="text-dark">Nombre</label>
                        <div class="errors">
                            <small class="invalid" *ngIf="getName()?.errors?.required && getName()?.touched">Campo obligatorio</small>
                        </div>  
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexRadioDefault1" value="1" formControlName="cuatriCtrl">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Primer Cuatrimestre
                        </label>
                      </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" id="flexRadioDefault2" value="2" formControlName="cuatriCtrl">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Segundo Cuatrimestre
                        </label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="email" placeholder="Matemática 1" formControlName="cupoCtrl">   
                        <label for="email" class="text-dark">Cupo estudiantes</label>
                        <div class="errors">
                            <small class="invalid" *ngIf="getCupo()?.errors?.required && getCupo()?.touched">Campo obligatorio</small>
                            <small class="invalid" *ngIf="getCupo()?.errors && !getCupo()?.errors?.required && getCupo()?.touched">Indicar un valor entre 1 y 50</small>
                        </div>  
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="email" placeholder="Matemática 1" formControlName="yearCtrl">   
                        <label for="email" class="text-dark">Año</label>
                        <div class="errors">
                            <small class="invalid" *ngIf="getYear()?.errors?.required && getYear()?.touched">Campo obligatorio</small>
                            <small class="invalid" *ngIf="getYear()?.errors && !getYear()?.errors?.required && getYear()?.touched">Indicar un año entre el 2000 y el 2050</small>
                        </div>  
                    </div>
  
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="email" placeholder="Seleccionar" [(ngModel)]="docenteEmail" formControlName="docCtrl" disabled>   
                        <label for="email" class="text-dark">Docente</label>
                        <div class="errors">
                            <small class="invalid" *ngIf="getDoc()?.errors?.required && getDoc()?.touched">Campo obligatorio</small>
                        </div>  
                    </div>

                    <div>
                        <button class="btn btn-success w-100" [disabled]="form.invalid" >Crear Materia</button>
                    </div>
                </form>
            </div> -->

            <!-- listado docentes -->
            <div class="list-scroll col vh-60">
                <app-user-list [items]="users" (emitter)="setDocente($event)"></app-user-list>
            </div>

        </div>
    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>