.list-scroll{
    /* height: 100%; */
	width: 100%;
	/* border: 1px solid #ddd;
	background: #f1f1f1; */
	overflow-y: auto;
    overflow-x: hidden;  
	margin-right: 10%; 
}

.form-materia{
	margin-left: 20%;
	margin-right: 20%;
}