<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- Spinner -->
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-atom" 
        [fullScreen] = "true">
        <p style="color: white" > Cargando... </p>
    </ngx-spinner>

    <!-- header -->
    <div class="mb-auto">
        <app-header [user]="user"></app-header>
    </div>

    <!-- main -->
    <main class="px-3">
        <h2 class="mb-3">Usuarios</h2>

        <!-- Mensaje -->
        <div class="row justify-content-center">
            <div class="col-8" *ngIf="mensaje">                
                <app-alert [mensaje]="mensaje"></app-alert>
            </div>
        </div>
        
        <div class="row justify-content-center vh-60">

            <!-- listado Usuarios -->
            <div class="col-5">                                            
                <div class="list-scroll col vh-70 rounded">
                    <div *ngIf="users?.length == 0">
                        <h4 class="text-muted">No hay usuarios cargados</h4>
                    </div>
                    <app-user-list [items]="users" (emitter)="seleccionarUsuario($event)"></app-user-list> 
                </div>
            </div>

            <!-- detalle usuario -->
            <div class="col-5">
                <app-user-detalle *ngIf="usuarioSeleccionado" [item]="usuarioSeleccionado"></app-user-detalle>
                <div *ngIf="usuarioSeleccionado?.rol == 3">
                    <button class="btn btn-warning w-100 mt-3" *ngIf="usuarioSeleccionado.activado" (click)="habilitarEspecialista(false)">
                        Deshabilitar Especialista
                    </button>
                    <button class="btn btn-success w-100 mt-3" *ngIf="!usuarioSeleccionado.activado" (click)="habilitarEspecialista(true)">
                        Habilitar Especialista
                    </button>
                </div>
                
            </div>
        </div>
    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>