<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- Spinner -->
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.8)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-atom" 
        [fullScreen] = "true">
        <p style="color: white" > Cargando... </p>
    </ngx-spinner>

    <!-- header -->
    <div class="mb-auto">
        <app-header [user]="user"></app-header>
    </div>

    <!-- main -->
    <main class="px-3">
        <h2 class="mb-3">Mi Perfil</h2>

        <!-- Mensaje -->
        <div class="row justify-content-center">
            <div class="col-8" *ngIf="mensaje">                
                <app-alert [mensaje]="mensaje"></app-alert>
            </div>
        </div>
        
        
        <div class="row">
            <!-- Perfil -->
            <div class="col-8">
                <h4>Perfil</h4>
                <app-user-perfil [user]="user"></app-user-perfil>
            </div>
            <!-- Historial -->
            <div class="col-4">
                <h4>Historial Clínico</h4>
                <app-historia-list [items]="historiales" (emitter)="mostrarDetalle(staticBackdrop2, $event)"></app-historia-list>
            </div>
        </div>

        <!-- Modal Historia-->
        <ng-template #staticBackdrop2 let-modal>
            <app-historia-detalle [item]="historialSeleccionado"></app-historia-detalle>
        </ng-template>

        

    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>