<div class="" *ngIf="item">
    <div [ngSwitch]="item.rol">
        <!-- Administrador -->
        <div class="row bg-secondary rounded" *ngSwitchCase="1">
            <!-- datos usuario -->
            <div class="col-7 mt-3">
                <h3>{{item.nombre}} {{item.apellido}}</h3>
                <h5>{{item.email}}</h5>
                <h5>{{item.rol | rol}}</h5>
                <ul class="text-start">
                    <li>Edad: {{item.edad}}</li>
                    <li>DNI: {{item.dni}}</li>
                </ul>
            </div>

            <!-- Img -->
            <div class="col-5 my-auto">
                <img [src]="item.perfil1Src" class="img-fluid m-1 rounded max-h-150">            
            </div>
        </div>

        <!-- Paciente -->
        <div class="row bg-secondary rounded" *ngSwitchCase="2">
            <!-- datos usuario -->
            <div class="col-6 mt-3">
                <h3>{{item.nombre}} {{item.apellido}}</h3>
                <h5>{{item.email}}</h5>
                <h5>{{item.rol | rol}}</h5>
                <ul class="text-start">
                    <li>Edad: {{item.edad}}</li>
                    <li>DNI: {{item.dni}}</li>
                    <li>Obra Social: {{item.obraSocial}}</li>
                </ul>
            </div>

            <!-- Img -->
            <div class="col-6 my-auto">
                <img [src]="item.perfil1Src" class="img-fluid m-1 rounded max-h-150">        
                <img [src]="item.perfil2Src" class="img-fluid m-1 rounded max-h-150">      
            </div>
        </div>

        <!-- Especialista -->
        <div class="row bg-secondary rounded" *ngSwitchCase="3">
            <!-- datos usuario -->
            <div class="col-7 mt-3">
                <h3>{{item.nombre}} {{item.apellido}}</h3>
                <h5>{{item.email}}</h5>
                <h5>{{item.rol | rol}}</h5>
                <ul class="text-start">
                    <li>Edad: {{item.edad}}</li>
                    <li>DNI: {{item.dni}}</li>
                    <li>Especialidades: 
                        <ul>
                            <li *ngFor="let especialidad of item.especialidades">
                                {{especialidad.nombre}}    
                            </li>                            
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Img -->
            <div class="col-5 my-auto">
                <img [src]="item.perfil1Src" class="img-fluid m-1 rounded max-h-150">            
            </div>
        </div>
    </div>
</div>