<div class="row">    

    <!-- Mensaje -->
    <div class="row justify-content-center">
        <div class="col-8" *ngIf="mensaje">                
            <app-alert [mensaje]="mensaje"></app-alert>
        </div>
    </div>

    <!-- Especialidad -->
    <div class="col">
        <h4>Especialidades</h4>
        <div class="row justify-content-center espe-img" *ngFor="let espe of especialidades">
            <img class="img-avatar mano" [appIconEspecialidad]="espe" (click)="selectEspecialidad(espe)">
        </div>        
    </div>

    <!-- Especialista -->
    <div class="col" *ngIf="especialidadSeleccionada">
        <h4>Especialistas</h4>
        <div class="row justify-content-center espe-img" *ngFor="let espe of especialistas">
            <img class="img-avatar mano" [src]="espe.perfil1Src" (click)="selectEventEspecialista(espe)">
        </div>        
    </div>

    <!-- Listado Turnos -->
    <div class="col-6" *ngIf="especialistaSeleccionado">        
        <h4>Turnos disponibles</h4>
         <div class="col m-auto">
            <div class="list-scroll col vh-40 rounded">
                <app-turno-list [items]="turnos" (emitter)="seleccionarItem($event)"></app-turno-list>
            </div>
        </div>  
    </div>

    <!-- Paciente --> <!-- Turno Seleccionado -->
    <div class="row" >
        <h5 *ngIf="paciente">Paciente {{paciente | nombreCompleto}}</h5>
        <div class="col m-auto" *ngIf="turnoSeleccionado">            
            <app-turno-item [item]="turnoSeleccionado"></app-turno-item>
        </div>
    </div>

    <!-- Btn Guardar -->
    <hr class="my-4">
    <div class="row">
        <div class="col m-auto p-1">
            <button class="w-100 btn btn-success btn-lg" type="button" (click)="clickGuardar()" [disabled]="guardarDisabled()">Solicitar Turno</button>
        </div>
    </div>

</div>