<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <!-- header -->
    <div class="mb-auto">
        <app-header></app-header>
    </div>

    <!-- main -->
    <main class="px-3">
        <h1>Pruebas</h1>

        <div class="row">
            <div [appCaptcha]="show" (emitter2)="test($event)"></div>
            <button type="button" class="btn btn-warning" (click)="toogle()">Toogle</button>
        </div>
        
        <!-- Prueba -->
        <div class="row">
            <button type="button" class="btn btn-warning" (click)="printUsers()">Usuarios</button>
            <button type="button" class="btn btn-danger" (click)="printHistorial()">Historia clínica</button>
            <button type="button" class="btn btn-secondary" (click)="printTurnos()">Turnos</button>
        </div>        
        


    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>