<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <!-- header -->
    <div class="mb-auto">
        <app-header></app-header>
    </div>

    <!-- main -->
    <main class="px-3">
    <h1>Clinica Pichicata</h1>
    <!-- Carrousel -->
    <div id="carouselExampleControls" class="carousel slide w-80" data-bs-ride="carousel" style="margin: auto;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="images[0]" class="img-fluid m-1 rounded max-h-150">
          </div>
          <div class="carousel-item">
            <img [src]="images[1]" class="img-fluid m-1 rounded max-h-150">
          </div>
          <div class="carousel-item">
            <img [src]="images[2]" class="img-fluid m-1 rounded max-h-150">
          </div>
          <div class="carousel-item">
            <img [src]="images[3]" class="img-fluid m-1 rounded max-h-150">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>

    <!-- footer -->
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>


