<div class="row m-2 p-1 rounded" [appRol]="item">
    <div class="col-3">
        <div class="img-avatar">
            <img class="rounded-circle" height="60px" width="60px" [src]="item.perfil1Src" data-holder-rendered="true">
        </div>
    </div>
    <div class="col text-start">
        <span class="h5 text-hover-primary mb-0">{{item | nombreCompleto}}</span> 
        <p class="text-hover-primary mb-0 ml-1 fw-light">{{item.rol | rol}}</p>        
        <!-- <p class="text-hover-primary mb-0 ml-1 fw-light" *ngIf="item.model.nota">{{item.model.nota}} {{item.model.nota | calificacion}}</p> -->
    </div>    
</div>