<div class="row m-2 p-1 bg-secondary rounded">
    <div class="col text-start">
        <span class="h5 text-hover-primary mb-0">{{item.fecha.toDate() | date:'yyyy/MM/dd h:mm a'}} - {{item.estado | estado}}</span> 
        <p class="text-hover-primary mb-0 fw-light">Especialidad: {{item.especialidad.nombre}} <small class="text-hover-primary mb-0 fw-light">({{item.especialista.nombre}} {{item.especialista.apellido}})</small></p>
        <p class="text-hover-primary mb-0 fw-light" *ngIf="item.paciente && item.estado != 6">Paciente: {{item.paciente.nombre}} {{item.paciente.apellido}}</p>
    </div>
</div>
